<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/45b4f2d63f.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../styles/index.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0&icon_names=stadia_controller" />
    <link rel="stylesheet" href="../styles/home.css">
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
      integrity="sha512-dOxvTZs2XcP+vNoxc2JrH0dG5I6dQmupMQuhHftIs8AK/8t2UJbql5pDqLz1b1fXK/yRi3xXl5hO5kqF2F0eg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <title>NoDriftmarket Home</title>
</head>
<body>
    <header>
        <div class="logoDiv">
            <img class="logo" src="../static/assets/logoCh.png" alt="logo">
        </div>
        <div class="searchDiv">
            <input class="search" type="text" placeholder="Search games, gear, and more">
            <button class="searchButton"><i class="fa-solid fa-magnifying-glass" style="color: #9428a5;"></i></button>
        </div>

        <div class="nav">
            <button class="btn2">Login</button>
            <button class="btn3">Sign Up</button>
        </div>
    </header>

    <main>
        <div class="heroDivHome">
            <div class="sidebarDiv">sidebar</div>
            <div class="feedDiv" id="feedDiv">
                <div class="postHidden">
                    <div class="userProfile">
                        <div class="handlePic">
                            <div class="profilePic">
                                <img src="../static/assets/29.png" alt="dp">
                            </div>
                        </div>
                        <div class="handle">
                            <p class="Name">kiwiCodes</p>
                            <p class="atHandle">@kiwiCodes</p>
                        </div>
                    </div>
                    <div class="postText"></div>
                    <div>
                        <img src="" alt="">
                    </div>
                    <div></div>
                </div>
                

                <div class="postHidden">
                    <div class="userProfile">
                        <div class="handlePic">
                            <div class="profilePic">
                                <img src="../static/assets/29.png" alt="dp">
                            </div>
                        </div>
                        <div class="handle">
                            <p class="Name">kiwiCodes</p>
                            <p class="atHandle">@kiwiCodes</p>
                        </div>
                    </div>
                    <div class="postText"></div>
                    <div>
                        <img src="" alt="">
                    </div>
                    <div></div>
                </div>

                <div class="postHidden">
                    <div class="userProfile">
                        <div class="handlePic">
                            <div class="profilePic">
                                <img src="../static/assets/29.png" alt="dp">
                            </div>
                        </div>
                        <div class="handle">
                            <p class="Name">kiwiCodes</p>
                            <p class="atHandle">@kiwiCodes</p>
                        </div>
                    </div>
                    <div class="postText"></div>
                    <div>
                        <img src="" alt="">
                    </div>
                    <div></div>
                </div>

                <div class="postHidden">
                    <div class="userProfile">
                        <div class="handlePic">
                            <div class="profilePic">
                                <img src="../static/assets/29.png" alt="dp">
                            </div>
                        </div>
                        <div class="handle">
                            <p class="Name">kiwiCodes</p>
                            <p class="atHandle">@kiwiCodes</p>
                        </div>
                    </div>
                    <div class="postText"></div>
                    <div>
                        <img src="" alt="">
                    </div>
                    <div></div>
                </div>

                <div class="postHidden">
                    <div class="userProfile">
                        <div class="handlePic">
                            <div class="profilePic">
                                <img src="../static/assets/29.png" alt="dp">
                            </div>
                        </div>
                        <div class="handle">
                            <p class="Name">kiwiCodes</p>
                            <p class="atHandle">@kiwiCodes</p>
                        </div>
                    </div>
                    <div class="postText"></div>
                    <div>
                        <img src="" alt="">
                    </div>
                    <div></div>
                </div>

                <div class="postHidden">
                    <div class="userProfile">
                        <div class="handlePic">
                            <div class="profilePic">
                                <img src="../static/assets/29.png" alt="dp">
                            </div>
                        </div>
                        <div class="handle">
                            <p class="Name">kiwiCodes</p>
                            <p class="atHandle">@kiwiCodes</p>
                        </div>
                    </div>
                    <div class="postText">
                        <p class="textHidden">Take these for as low as $130</p>
                    </div>
                    <div>
                        <img src="" alt="">
                    </div>
                    <div></div>
                </div>

                <div class="postHidden">
                    <div class="userProfile">
                        <div class="handlePic">
                            <div class="profilePic">
                                <img src="../static/assets/29.png" alt="dp">
                            </div>
                        </div>
                        <div class="handle">
                            <p class="Name">kiwiCodes</p>
                            <p class="atHandle">@kiwiCodes</p>
                        </div>
                    </div>
                    <div class="postText"></div>
                    <div>
                        <img src="" alt="">
                    </div>
                    <div></div>
                </div>
                
            </div>
            <div class="additionalsDiv">additionals</div>
        </div>
    </main>

    <script src="../scripts/indexScript.js"></script>
    <script src="../scripts/home.js"></script>
</body>
</html>