<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/45b4f2d63f.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../styles/index.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0&icon_names=stadia_controller" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
      integrity="sha512-dOxvTZs2XcP+vNoxc2JrH0dG5I6dQmupMQuhHftIs8AK/8t2UJbql5pDqLz1b1fXK/yRi3xXl5hO5kqF2F0eg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <title>NoDriftmarket Home</title>
</head>
<body>
    <header>
        <div class="logoDiv">
            <img class="logo" src="../static/assets/logoCh.png" alt="logo">
        </div>
        <div class="navDiv">
            <div><a href="">Browse</a></div>
            <div><a href="">Sell</a></div>
            <div class="authLinks">
                <div><a href="">Login</a></div>
                <div><a class="signUpLink" href="" style="color: #7e43db;">Sign Up</a></div>
            </div>
        </div>
        <div class="menuIconDiv" id="menuIconDiv">
            <i class="fa-solid fa-bars" id = "menuIcon"></i>
            <i class="fa-solid fa-xmark" style="display: none;" id="closeIcon"></i>
        </div>

        <div id="navDivMob" class="navDivMob">
            <div><a href="">Browse</a></div>
            <div><a href="">Sell</a></div>
            <div class="authLinksMob">
                <div><a href="">Login</a></div>
                <div><a class="signUpLink" href="" style="color: #7e43db;">Sign Up</a></div>
            </div>
        </div>
    </header>

    <main>
        <div class="heroDiv">
            <div>
                <h1>BUY • SELL • TRADE</h1>
            </div>
            <div class="subText">
                <p>The ultimate gaming marketplace to find, sell, and trade gear, and more</p>
            </div>
            <div>
                <button class="btn1">START EXPLORING</button>
            </div>
        </div>
    </main>

    <section class="offerSection">
        <div class="featuresDiv">
            <div><h1>WHAT WE OFFER</h1></div>
            <div>
                <img src="../static/assets/game.jpg" alt="gamePad">
            </div>
        </div>
    </section>

    <section>
        <div class="offers">
            <div class="library">
                <div>
                    <img src="../static/assets/pad.png" alt="gamePad">
                    <h3>Huge Game Library</h3>
                </div>
                <div>
                    <p>Discover thousands of titles across all platforms – from AAA hits to Indic gems</p>
                </div>
            </div>
            <div class="security">
                <div>
                    <img src="../static/assets/bolt.png" alt="bolt">
                    <h3>Fast & Secure</h3>
                </div>
                <div>
                    <p>Safe transactions and smooth experience designed for gamers.</p>
                </div>
            </div>
            <div class="community">
                <div>
                    <img src="../static/assets/hand.png" alt="handShake">
                    <h3>Community Driven</h3>
                </div>
                <div>
                    <p>Join a growing community of players who buy, sell, and trade daily</p>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <div class="footer" id="footer">
            <div class="footer-cont">
                <div class="buttom-logo" ><img class="bottomLogo" src="../static/assets/logoCh.png" alt="logo"></div>
                <div class="kano">
                    <h2>KANO.</h2>
                    <a href="kanoOffice@quizia.com">kanoOffice@quizia.com</a>
                    <p>+2345873483489</p>
                    <p>No.13 Durumin Iya KMC,</p>
                    <p>Street 14 Satatima Qtrs.</p>
                </div>
                <div>
                    <h2>DUTSE.</h2>
                    <a href="jigawa1Office@quizia.com">jigawa1Office@quizia.com</a>
                    <p>+2343482845021</p>
                    <p>No.143 Gidan Malam Dut,</p>
                    <p>12th avenue Takur site Qtrs.</p>
                </div>
                <div>
                    <h3>Sing Up for Our Newsletter here</h3>
                    <p>You can follow us on:</p>
                    <br>
                    <br>
                    <div class="icons">
                        <i class="fa-brands fa-facebook fa-sm" style="font-size: 35px;"></i>
                        <i class="fa-brands fa-twitter fa-sm" style="font-size: 35px;"></i>
                        <i class="fa-brands fa-linkedin fa-sm" style="font-size: 35px;"></i>
                        <i class="fa-brands fa-instagram fa-sm" style="font-size: 35px;"></i>
                    </div>
                    
                      
                </div>
            </div>
        </div>
    </footer>
    <script src="../scripts/indexScript.js"></script>
</body>
</html>