html, body, main{
    height: 100%;
    margin: 0;
}

.searchDiv{
    display: flex;
    flex: 2;
    align-items: center;
    margin-right: 20px;
}

.heroDivHome{
    display: flex;
    border-top: solid 1px #7e43db;
    justify-content: center;
    background-color:black;
    height: 100vh;
    
}

.heroDivHome div{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    gap: 1rem;
}

.feedDiv{
    justify-content: start;
    border-left: solid 1px #7e43db;
    border-right: solid 1px #7e43db;
    justify-content: baseline;
    flex: 2;
    overflow:scroll;
    scrollbar-width: none;
    flex-direction: column;
    height: 100vh;
    
}

.postHidden {
  opacity: 0;
  transform: translateY(40px);
  transition: opacity 0.5s ease, transform 0.5s ease;
  display: flex;
  flex-direction: column;
  border-top: solid 1px #7e43db;
  border-bottom: solid 1px #7e43db;
  min-height: 70vh;
  width: 100%;
}

.postHidden.show {
  opacity: 1;
  transform: translateY(0);
}

.userProfile{
    display: flex;
    align-items: center;
    background: red;
    justify-content: start;
    padding: 10px;
    font-weight: bold;
    font-size: 18px;
}

.profilePic{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
}

.additionalsDiv, .sidebarDiv{
    flex: 1;
}

.nav{
    display: flex;
    flex: 1;
    align-items: center;
}

.searchButton, .search{
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 18px;
    color: #555;
}

.search{
    width: 100%;
    border:#7e43db solid 1px;
    padding-left: 10px;
    cursor: text;
    color: white;
    outline: none;
    height: 2rem;
    border-right: none;
    border-radius: 3px 0 0 3px;
}

.searchButton{
   
    border:#7e43db solid 1px;
    height: 2.2rem;
    border-left: none;
    border-radius: 0 3px 3px 0;
}