.searchDiv{
    display: flex;
    flex: 2;
    align-items: center;
    margin-right: 20px;
}

.heroDivHome{
    display: flex;
    border-top: solid 1px #7e43db;
    flex-direction: column;
    justify-content: center;
    background-color:black;
    height: 100vh;
}

.nav{
    display: flex;
    flex: 1;
    align-items: center;
}

.searchButton, .search{
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 18px;
    color: #555;
}

.search{
    width: 100%;
    border:#7e43db solid 1px;
    padding-left: 10px;
    cursor: text;
    color: white;
    outline: none;
    height: 2rem;
    border-right: none;
    border-radius: 3px 0 0 3px;
}

.searchButton{
   
    border:#7e43db solid 1px;
    height: 2.2rem;
    border-left: none;
    border-radius: 0 3px 3px 0;
}