@import url('https://fonts.googleapis.com/css2?family=Bitcount+Prop+Single+Ink:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitcount+Prop+Single+Ink:wght@100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


html, body, main{
    height: 100%;
    margin: 0;
}

.searchDiv{
    display: flex;
    flex: 2;
    align-items: center;
    margin-right: 20px;
}

.heroDivHome{
    display: flex;
    border-top: solid 1px #7e43db;
    justify-content: center;
    background-color:black;
    height: 100vh;
    
}

.heroDivHome div{
    display: flex;
    color: white;
    gap: 1rem;
}

.feedDiv{
    display: flex;
    border-left: solid 1px #7e43db;
    border-right: solid 1px #7e43db;
    flex: 2;
    overflow:scroll;
    scrollbar-width: none;
    flex-direction: column;
    height: 100vh;
    
}

.postHidden {
    opacity: 0;
    transform: translateY(40px);
    transition: opacity 0.5s ease, transform 0.5s ease;
    display: flex;
    flex-direction: column;
    border-top: solid 1px #7e43db;
    border-bottom: solid 1px #7e43db;
    min-height: 70vh;
    width: 100%;
}

.postHidden.show {
    opacity: 1;
    transform: translateY(0);
}

.userProfile{
    display: flex;
    width: 100%;
    flex-direction: row;
    padding: 10px;
    font-weight: bold;
    font-size: 18px;
}

.profilePic{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    color: white;
}


.handle{
    display: flex;
    background: red;
    gap: 0;
    flex-direction: column;
    color: white;
    flex: 2;
}

.handle p{
    margin: 0;
    margin-top: 10px;
    margin-left: 0;
    font-family: Rubik, sans-serif;
}

.atHandle{
    color: grey;
    font-weight: normal;
    margin-top: 0;
}

.handlePic{
    display: flex;
    flex: 0.002;
}

.additionalsDiv, .sidebarDiv{
    flex: 1;
}

.nav{
    display: flex;
    flex: 1;
    align-items: center;
}

.searchButton, .search{
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 18px;
    color: #555;
}

.search{
    width: 100%;
    border:#7e43db solid 1px;
    padding-left: 10px;
    cursor: text;
    color: white;
    outline: none;
    height: 2rem;
    border-right: none;
    border-radius: 3px 0 0 3px;
}

.searchButton{
   
    border:#7e43db solid 1px;
    height: 2.2rem;
    border-left: none;
    border-radius: 0 3px 3px 0;
}