@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');


body{
    background: black;
    position: relative;
}

.logInContainer{
    position: absolute;
    top: 20%;
    display: none;
    align-items: center;
    left: 25%;
    right: 25%;
    z-index: 10;
    justify-content: center;
}

.field{
    height: 2.5rem;
    border-radius: 3px;
    width: 375px;
    background: rgb(177, 177, 177);
    padding: 0 10px;
    font-family: Rubik, sans-serif;
    font-size: 1rem;
    color: #7e43db;
    border: none;
    outline: none;
}

.logInForm{
    display: flex;
    flex-direction: column;
    
}

.logInBox{
    height: 30rem;
    width: 25rem;
    padding: 0 1rem 2rem 1rem;
    border: #7e43db 1px solid;
    justify-content: center;
    display: flex;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    color: white;
}

.logInBox h2{
    text-align: center;
    font-family: Rubik, sans-serif;
    font-weight: 700;
    font-size: 2rem;
    color: #7e43db;
}

.fieldBtn, .logInBox button{
    margin-top: 2rem;
    height: 2.5rem;
    border-radius: 3px;
    width: 395px;
    outline: none;
    background:#7e43db;
    font-family: Rubik, sans-serif;
    font-size: large;
    font-weight: bold;
    color: white;
    border: none;
}

.fieldBtn:hover, .logInBox button:hover{
    cursor: pointer;
    transition: ease-in-out 0.3s;
    background: #9428a5;
}

.fieldBtn:active, .logInBox button:active{
    transform: scale(0.98);
}

.logInBox p{
    font-family: Rubik, sans-serif;
    margin-top: 2rem;
    color: rgb(221, 220, 220);
    text-align: center;
}

.logInBox a{
    color: #9428a5;
    font-family: Rubik, sans-serif;
    text-decoration: none;
    font-size: 1rem
}



h1 {
  color: #7e43db;
  font-family: "Nunito Sans", "Helvetica Neue", sans-serif;
  font-weight: 900;
  font-size: 40px;
  margin-bottom: 10px;
}

p {
  color: rgb(221, 220, 220);
  font-family: "Nunito Sans", "Helvetica Neue", sans-serif;
  font-size: 20px;
  margin: 0;
}

i {
  color: #7e43db;
  font-size: 100px;
  line-height: 200px;
  margin-left: -15px;
}

.card {
    height: 30rem;
    width: 25rem;
    padding: 0 1rem 2rem 1rem;
    border: #7e43db 1px solid;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    color: white;
    position: absolute;
    top: 20%;
    left: 38%;;
}


.tickmarkCont {
    display: flex;
    justify-content: center;
    background: rgb(221, 220, 220);
}

@media screen and (max-width: 450px) {
    
    body{
        position: relative;
    }

    .logInContainer{
        margin-top: 20rem;
        position: absolute;
        top: 5%;
        
    }

    .logInBox{
        height: 25rem;
        width: 20rem;
        padding: 0 1rem 2rem 1rem;
        border: #7e43db 1px solid;
        justify-content: center;
        display: flex;
        flex-direction: column;
        background: rgba(255, 255, 255, 0.2);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        color: white;
    }

    .field{
        height: 2.5rem;
        border-radius: 3px;
        width: 300px;
        background: rgb(177, 177, 177);
        padding: 0 10px;
        font-family: Rubik, sans-serif;
        font-size: 1rem;
        color: #7e43db;
        border: none;
        outline: none;
    }

    .fieldBtn, .logInBox button{
        margin-top: 2rem;
        height: 2.5rem;
        border-radius: 3px;
        width: 319px;
        outline: none;
        background:#7e43db;
        font-family: Rubik, sans-serif;
        font-size: large;
        font-weight: bold;
        color: white;
        border: none;
    }


    
}